@import "global/**/*.scss";

@import url('https://fonts.googleapis.com/css?family=Karma:400,500,600,700|Rajdhani:400,500,600,700&display=swap');
$header-font-family: 'Rajdhani', sans-serif;
$body-font-family: 'Karma', serif;

//import partials
@import "partials/**/*.scss";

@mixin list-none {
  margin: 0;
  padding: 0;
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}