%clearfix:after {
  display: block;
  clear: both;
  content: '';
}

$__grid--columns: 12 !default;
$__grid--gutters: 20px !default;
$__row--width: 1200px !default;

$__breakpoints: (
        small:0,
        smallup: 540px,
        medium:640px,
        header: 800px,
        tablet: 768px,
        large:1024px,
        xlarge:1200px
) !default;

.row {
  max-width: $__row--width;
  margin: 0 auto;
  @extend %clearfix;

  & + & {
    margin-top: $__grid--gutters;
  }

  &-fluid {
    max-width: 100%;
  }
}

.container {
  box-sizing: border-box;
  max-width: $__row--width;
  width: 100%;
  margin: 0 auto;

  &-fluid {
    max-width: 100%;
  }
}


.column {
  box-sizing: border-box;
  width: 100%;
  padding-right: $__grid--gutters / 2;
  padding-left: $__grid--gutters / 2;
  float: left;
}

@each $key, $value in $__breakpoints {
  @if ($value > 0) {
    @media screen and (min-width: $value) {
      @for $i from 1 through $__grid--columns {
        &.#{$key}-#{$i} {
          width: ((100% / $__grid--columns) * $i);
        }
      }
    }
  } @else {
    @for $i from 1 through $__grid--columns {
      &.#{$key}-#{$i} {
        width: ((100% / $__grid--columns) * $i);
      }
    }
  }
}